<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interpret.Properties.Settings.professor_testingConnectionString" connectionString="Data Source=u412978.mssql.masterhost.ru;Initial Catalog=u412978_v2;Persist Security Info=True;User ID=u412978;Password=p49ioninospeox" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
