<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--<location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <appSettings>
    <clear />
    <add key="MailQuestion" value="ooo.bemkon@mail.ru" />
    <add key="MailOrder" value="ooo.bemkon@mail.ru" />
    <add key="SMTPServer" value="smtp.bemkon.ru" />
    <add key="SMTPPort" value="2525" />
    <add key="SMTPSender" value="Команда ООО 'Бемкон'" />
    <add key="SMTPAddress" value="info@bemkon.ru" />
    <add key="SMTPUser" value="info@bemkon.ru" />
    <add key="SMTPPassword" value="Info12Bemkon" />
    <add key="SalePhone" value="8(926)13-844-13" />
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=193.232.167.125;Initial Catalog=u412978_v2;Persist Security Info=True;User ID=testuser;Password=Qq123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryption="AES" decryptionKey="1FDD61EE4B2DB5A32E08F4EB06B7C82483E62BB8D687653AE19148724671EBB7" validation="HMACSHA256" validationKey="92835639F3EE0FC59BF3928941DDED278DFBE4789E2AB4FD4008298FB5115A89D56C971BA0CB55CE2D1673D734EBB4EFE2F878438F8D03FAF0A5E90EF7151A9C"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="Default.aspx" protection="All" timeout="240" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
     -->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx">
      <error statusCode="403" redirect="ErrorPage.aspx"/>
      <error statusCode="404" redirect="ErrorPage.aspx"/>
    </customErrors>-->
    <customErrors mode="Off"/>
    <trace enabled="true" localOnly="false" pageOutput="false" mostRecent="false" writeToDiagnosticsTrace="true" traceMode="SortByTime"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>